*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

html {
  font-size: 62.5%; }

body {
  font-size: 2rem;
  color: #444;
  font-family: "Dosis", sans-serif;
  background-color: #ddd; }

::selection {
  background-color: #730101;
  color: #fff; }

::-moz-selection {
  background-color: #730101;
  color: #fff; }

.container {
  max-width: 1440px;
  margin: 0 auto; }

.grid-width {
  max-width: 90%; }

strong, span, h2 {
  color: #730101; }

.nav {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  background-color: #ddd;
  padding: 2rem 20%;
  z-index: 1;
  transition: transform .3s; }
  .nav li {
    list-style: none;
    overflow-x: hidden; }
    .nav li a {
      text-decoration: none;
      color: inherit;
      font-family: 'Kanit', sans-serif;
      font-size: 2.5rem;
      position: relative; }
      .nav li a::before {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: currentColor;
        top: 0;
        left: -100%;
        transition: all .3s; }
      .nav li a::after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: currentColor;
        left: 100%;
        bottom: 0;
        transition: all .3s; }
      .nav li a:hover::before {
        left: 0; }
      .nav li a:hover::after {
        left: 0; }
  .nav::after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 1px;
    bottom: 0;
    background-color: #ddd; }

.hero {
  max-width: 90%;
  height: 95vh;
  margin: 0 auto; }
  .hero__about {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: justify; }
    .hero__about h1 {
      font-family: "Great Vibes", cursive;
      font-size: 10rem;
      min-width: max-content;
      animation: come-in 3s forwards;
      color: #333;
      opacity: 0; }
    .hero__about h2 {
      font-family: "Montserrat Subrayada", sans-serif;
      font-size: 5rem;
      min-width: max-content;
      animation: drop-down .5s 2s forwards;
      opacity: 0; }
    .hero__about p {
      max-width: 90rem;
      font-size: inherit;
      line-height: 1.5;
      opacity: 0;
      animation: display-text 2s 3s forwards; }
      .hero__about p svg {
        height: 1rem;
        margin-left: 2rem; }
  .hero__image {
    width: 90%; }
    .hero__image img {
      width: 100%; }
  .hero .down-arrow {
    position: absolute;
    padding: 1rem;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    position: absolute;
    display: inline-block;
    animation: arrow 2s 4s infinite; }

.work {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  gap: 8rem; }
  .work article {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    max-width: 80%;
    margin: 0 auto;
    height: 100vh; }
  .work__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    font-size: 2rem; }
    .work__text h3 {
      font-family: "Montserrat Subrayada", sans-serif;
      text-decoration: none;
      color: inherit;
      font-size: 3rem; }
    .work__text--description {
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 2rem; }
  .work__image {
    width: 90%; }
    .work__image img {
      width: 100%;
      max-width: 800px;
      filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5)); }
  .work .how-it-works {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    gap: 2rem;
    letter-spacing: 0.5px; }
  .work .try-it-live {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    gap: 10rem;
    font-size: 1.6rem; }
    .work .try-it-live img {
      height: 5rem;
      transition: all .2s; }
      .work .try-it-live img:hover {
        animation: wiggle .3s 1 backwards ease-in-out;
        transform: translateY(-2px); }
    .work .try-it-live div {
      display: flex;
      flex-direction: column;
      align-items: center; }

.tools {
  text-align: center;
  font-size: 1.6rem;
  margin: 10rem auto;
  max-width: 80%; }
  .tools__heading {
    margin-bottom: 10rem;
    font-size: 2.5rem; }
  .tools ul {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 2%; }
    .tools ul li {
      max-width: 13rem;
      list-style: none; }
      .tools ul li:last-child {
        display: flex;
        align-items: center;
        font-style: italic; }
  .tools__image {
    width: 100%; }

.contact {
  font-size: 1.6rem;
  margin: 10rem auto;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 3rem;
  background-color: #eee;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); }
  .contact div {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .contact div label {
      transform: translateY(110%);
      transition: transform .3s;
      cursor: text;
      padding: 0 .5rem; }
    .contact div .input, .contact div textarea {
      width: 100%;
      height: max-content;
      border: none;
      background-color: #fff;
      outline: none;
      cursor: text;
      font-size: 1.6rem;
      padding: .5rem;
      font-family: 'Segoe UI', sans-serif; }
      .contact div .input:focus, .contact div textarea:focus {
        outline: 1px solid rgba(0, 0, 0, 0.3); }
    .contact div .input:not(:last-child) {
      height: 2.5rem; }
    .contact div .submit {
      width: 100%;
      font-family: inherit;
      text-transform: uppercase;
      padding: 1rem 3rem; }
    .contact div span {
      color: #730101; }

@media only screen and (max-width: 1200px) {
  .work .work__image {
    grid-column: 1;
    grid-row: 1; }
  article {
    height: max-content !important;
    grid-template-columns: 1fr !important;
    gap: 3rem; }
    article img {
      margin-bottom: 3rem; } }

@media only screen and (max-width: 820px) {
  body {
    text-align: justify !important; }
  .nav {
    font-size: 1.5rem; }
  .hero {
    font-size: 1.2rem;
    max-width: 90%; }
    .hero h1 {
      font-size: 7rem; }
    .hero h2 {
      font-size: 3rem; }
  .work p {
    font-size: 1.2rem; }
  .work .work__text--description {
    font-size: 1.6rem; }
  .work .work__image {
    grid-column: 1;
    grid-row: 1; }
  .work h3 {
    font-size: 2.6rem; }
  article {
    height: max-content !important;
    grid-template-columns: 1fr !important;
    gap: 3rem; }
  .contact {
    max-width: 90%;
    gap: 1rem; } }

@media only screen and (max-width: 425px) {
  .nav {
    padding: 1rem 2rem; }
    .nav a {
      font-size: 1.2rem !important; }
  .hero h1 {
    font-size: 5rem; }
  .hero h2 {
    font-size: 2rem; }
  .work .try-it-live {
    justify-content: space-between !important;
    gap: 0; }
  .work h3 {
    font-size: 2.2rem; }
  .work__text--description {
    font-size: 1.4rem !important; }
  .contact {
    max-width: 90%;
    gap: .5rem; } }

@keyframes wiggle {
  33% {
    rotate: 5deg; }
  66% {
    rotate: -5deg; }
  100% {
    rotate: 0; } }

@keyframes come-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes drop-down {
  from {
    opacity: 0;
    transform: translateY(-100%); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes display-text {
  from {
    opacity: 0;
    transform: translateY(2rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes arrow {
  0% {
    transform: translateY(0); }
  50% {
    opacity: 1; }
  100% {
    transform: translateY(100%);
    opacity: 0; } }
