*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  color: $color-text;
  font-family: "Dosis", sans-serif;
  background-color: $color-background;
}

::selection {
  background-color: $color-accent;
  color: #fff;
}
::-moz-selection {
  background-color: $color-accent;
  color:#fff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.grid-width {
  max-width: 90%;
}

strong, span, h2{
  color: $color-accent;
}
