@mixin grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin stroke ($stroke-length, $delay) {
  stroke-dasharray: $stroke-length;
  stroke-dashoffset: $stroke-length;
  animation: animate-name 2s ease forwards $delay;
}
