.contact{
    font-size: 1.6rem;
    margin: 10rem auto;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    border: 1px solid rgba($color: #000000, $alpha: .3);
    padding: 3rem;
    background-color: #eee;
    box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: .3);
    div{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        label{
            transform: translateY(110%);
            transition: transform .3s;
            cursor: text;
            padding: 0 .5rem;
        }
        .input, textarea{
            width: 35rem;
            height: max-content;
            border: none;
            background-color: #fff;
            outline: none;
            cursor: text;
            font-size: 1.6rem;
            padding: .5rem;
            &:focus{
                outline: 1px solid rgba($color: #000000, $alpha: .3);
            }
        }
        .input:not(:last-child){
            height: 2.5rem;
        }
        .submit{
            width: 100%;
            font-family: inherit;
            text-transform: uppercase;
            padding: 1rem 3rem;
        }
        span{
            color: red;
        }
    }
}


