.contact{
    font-size: 1.6rem;
    margin: 10rem auto;
    max-width: 50rem;
    @include flex-col;
    justify-content: space-between;
    gap: 2rem;
    border: 1px solid $color-border;
    padding: 3rem;
    background-color: #eee;
    box-shadow: 3px 3px 10px $color-border;
    div{
        margin: 0;
        @include flex-col;
        justify-content: space-between;
        label{
            transform: translateY(110%);
            transition: transform .3s;
            cursor: text;
            padding: 0 .5rem;
        }
        .input, textarea{
            width: 100%;
            height: max-content;
            border: none;
            background-color: #fff;
            outline: none;
            cursor: text;
            font-size: 1.6rem;
            padding: .5rem;
            font-family:'Segoe UI', sans-serif;
            &:focus{
                outline: 1px solid $color-border;
            }
        }
        .input:not(:last-child){
            height: 2.5rem;
        }
        .submit{
            width: 100%;
            font-family: inherit;
            text-transform: uppercase;
            padding: 1rem 3rem;
        }
        span{
            color: $color-accent;
        }
    }
}


