
.nav {
  box-shadow: 0 2px 8px $color-border;
  display: flex;
  width: 100%;
  justify-content:space-between;
  position: fixed;
  background-color: $color-background;
  padding: 2rem 20%;
  z-index: 1;  
  transition: transform .3s;
  li {
    list-style: none;
    overflow-x: hidden;
    a {
      text-decoration: none;
      color: inherit;
      font-family: 'Kanit', sans-serif;
      font-size: 2.5rem;
      position: relative;
      &::before{
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: currentColor;
        top: 0;
        left: -100%;
        transition: all .3s;
      }
      &::after{
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: currentColor;
        left: 100%;
        bottom: 0;
        transition: all .3s;
      }
      &:hover{
        &::before{
          left: 0;
        }
        &::after{
          left: 0;
        }
      } 
    }
  }
  &::after{
    content: '';
    position: absolute;
    width: 100vw;
    height: 1px;
    bottom: 0;
    background-color: $color-background;
  }
}


