.hero {
  max-width: 90%;
  height: 95vh;
  margin: 0 auto;
  &__about {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: justify;
    h1 {
      font-family: "Great Vibes", cursive;
      font-size: 10rem;
      min-width: max-content;
    }
    h2 {
      font-family: "Montserrat Subrayada", sans-serif;
      font-size: 5rem;
      min-width: max-content;
    }
    p {
      max-width: 90rem;
      font-size: inherit;
      line-height: 1.5;
      svg {
        height: 1rem;
        margin-left: 2rem;
      }
    }
  }
  &__image {
    width: 90%;
    img {
      width: 100%;
    }
  }
  .down-arrow{
    position: absolute;
    padding: 1rem;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
      display: inline-block;
      animation: arrow 2s infinite;
  }
}

@keyframes arrow{
  0%{
    transform: translateY(0);
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: translateY(100%);
    opacity: 0;
  }
}


