.work {
  @include flex-col;
  margin: 5rem auto;
  gap: 8rem;
  article {
    @include grid;
    max-width: 80%;
    margin: 0 auto;
    height: 100vh;
  }
  &__text {
    @include flex-col;
    gap: 2rem;
    width: 90%;
    font-size: 2rem;
    h3 {
      font-family: "Montserrat Subrayada", sans-serif;
      text-decoration: none;
      color: inherit;
      font-size: 3rem;
    }
    &--description{
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 2rem;
    }
  }
  &__image {
    width: 90%;
    img {
      width: 100%;
      max-width: 800px;
      filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5))
    }
  }
  .how-it-works {
    @include flex-col;
    font-size: 1.6rem;
    gap: 2rem;
    letter-spacing: 0.5px;
  }
  .try-it-live {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    gap: 10rem;
    font-size: 1.6rem;
    img {
      height: 5rem;
      transition: all .2s;
      &:hover{
        animation: wiggle .3s 1 backwards ease-in-out;
        transform: translateY(-2px);
      }
    }
    div {
      @include flex-col;
      align-items: center;
    }
  }
}

@keyframes wiggle{
  33%{
    rotate: 5deg;
  }
  66%{
    rotate: -5deg;
  }
  100%{
    rotate: 0;
  }
}
