.tools {
  text-align: center;
  font-size: 1.6rem;
  margin: 10rem auto;
  max-width: 80%;
  &__heading {
    margin-bottom: 10rem;
    font-size: 2.5rem;
  }
  ul {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 2%;
    li {
      max-width: 13rem;
      list-style: none;
      &:last-child{
        display: flex;
        align-items: center;
        font-style: italic;
      }
    }
  }
  &__image {
    width: 100%;
  }
}
